---
import Layout from "../layouts/Layout.astro";
import Window from "../components/Window.svelte";
import Intro from "../content/pages/home-intro.md";
import Philosophy from "../content/pages/home-philosophy.md";
import Features from "../content/pages/home-features.md";
import { GITHUB_URL } from "../consts";
---

<Layout>
	<div class="layout__grid home">
		<h1 class="page-title">Home</h1>
		<div class="layout__cell home__intro">
			<Window title="Design OS" order={0} titleTag="h1" client:load>
				<div class="stack rte">
					<Intro />
					<a class="button--ui" href={GITHUB_URL} target="_blank" rel="noopener noreferrer">
						<span class="button--ui__content">View on GitHub -&gt;</span>
					</a>
					<a class="button--ui" href="/docs/">
						<span class="button--ui__content">Get started -&gt;</span>
					</a>
				</div>
			</Window>
		</div>
		<div class="layout__cell home__philosophy">
			<Window title="Philosophy" style="--max-width: 40rem;" order={1} client:load>
				<div class="stack rte">
					<Philosophy />
				</div>
			</Window>
		</div>
		<div class="layout__cell home__features">
			<Window
				title="What You Get"
				style="--max-width: 60ch; --inline-start: 2rem;"
				order={2}
				client:load>
				<div class="stack rte">
					<Features />
					<a class="button--ui" href="/how-it-works/">
						<span class="button--ui__content">See how it works -&gt;</span>
					</a>
				</div>
			</Window>
		</div>
	</div>
</Layout>

<style lang="scss">
	@media (min-width: 62em) {
		.home {
			grid-template-columns: min(50%, 60ch) 1fr;
			grid-template-rows: 5rem 16rem 1fr;
			gap: 1rem;
		}

		h1 {
			margin-block-end: 0;
		}

		.home__intro {
			grid-column: 1;
			grid-row: 2 / 4;
			justify-self: start;
		}

		.home__philosophy {
			padding-inline-start: var(--space-m);
			grid-column: 2;
			grid-row: 1 / 3;
		}

		.home__features {
			grid-column: 2;
			grid-row: 3 / 4;
		}
	}
</style>
